<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.tn.mapper.memberMapper">
  	
  	<select id="getMember" resultType="com.tn.member.model.vo.MemberVO">
  		select * from Member;
  	</select>
  	<!-- 로그인 하는 쿼리문 -->
  	<select id="getLoginMember" resultType="com.tn.member.model.vo.MemberVO">
  		select * from Member where userId = #{userId} and userPwd = #{userPwd}
  	</select>
  	
  	<!-- 회원정보수정을 위해 회원정보를 얻어오는 쿼리문 -->
  	<select id="getEditMemberInfo" resultType="com.tn.member.model.vo.MemberVO">
  		select userPwd, userName, userBirth, phoneNum, email from Member where userId=#{userId}
  	</select>
  	
  	<!-- 수정된 회원정보를 DB에 저장한는 쿼리문 -->
  	<update id="updateEditMember">
  		update Member set userPwd=#{userPwd}, userBirth=#{userBirth}, phoneNum=#{phoneNum}, email=#{email} where userId=#{userId}
  	</update>
  	
<!-- 박근영 -->
	<!-- 회원 가입를 위하여 회원 정보를 DB에 저장하며, 회원가입시 프로필 이미지 등록 유무에 따른 inser문 if문으로 구별 -->
	<insert id="insertRegisterMember">
	    INSERT INTO Member (
	        userId, userPwd, userName, userBirth, phoneNum, email
	        <if test="fileInfo != null">
	            , userImg, base64ProfileImg
	        </if>
	    )
	    VALUES (
	        #{registerDTO.userId}, sha1(md5(#{registerDTO.password})), #{registerDTO.userName}, 
	        #{registerDTO.birthday}, #{registerDTO.phone}, #{registerDTO.email}
	        <if test="fileInfo != null">
	            , #{fileInfo.newFileName}, #{fileInfo.base64Img}
	        </if>
	    )
	</insert>
	
	<select id="selectCompareId" resultType="int">
		SELECT COUNT(*) FROM Member WHERE userId = #{tmpUserId}
	</select>
	
<!-- 박근영 -->
  </mapper>