<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tn.mapper.orderMapper">
	<!-- 회원이 주문한 목록 최근꺼 3개를 가지고 오는 쿼리문 -->
	<select id="selectOrderList"
		resultType="com.tn.booklist.model.vo.BooklistVO">
		<!-- select b.* from
		(select o.orderPk , o.bookNo from mbcac2024.Order o inner Join Member m on
		o.orderWho = m.userId where o.orderWho = #{userId}) as userOrder
		inner join BookList b
		on userOrder.bookNo = b.bookNo order by userOrder.orderPk desc limit
		0,3; -->
		select b.* from
		(select o.orderPk , o.bookNo from (select ob.bookNo , o.orderPK ,o.orderWho from mbcac2024.Order o inner join OrderBook ob on o.orderNo = ob.orderNo) o inner Join Member m on
		o.orderWho = m.userId where o.orderWho = #{userId}) as userOrder
		inner join BookList b
		on userOrder.bookNo = b.bookNo order by userOrder.orderPk desc limit
		0,3;
	</select>
</mapper>