<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.tn.mapper.orderMapper">
  	
 
<!-- 박근영 -->
	<select id="selectUserAddress" resultType="com.tn.order.model.vo.AddressVO">
		SELECT receiver_name, address_key, receiver_phone, address, isDefault, request FROM Address WHERE userId = #{userId}
	</select>
	
	<select id="selectUserPoint" resultType="int">
		SELECT userPoint FROM Member WHERE userId = #{userId}
	</select>	

<!-- INSERT INTO `Order` (orderStatus, orderWho, orderAddress, usePoint, bookNo, qty, totalPay, orderNo)
VALUES ('배송중', 'geunyeon', '강남구', null, 3, 3, 300, 25); -->

 	<select id="selectOrderBookNo" resultType="com.tn.order.model.vo.PaymentInfoVO">
		SELECT bookNo FROM BookList WHERE bookNo IN <foreach item="title" 
		collection="paymentInfoDTO.titleName" open="(" separator="," close=")" >#{title}</foreach>
	</select>
<!-- 박근영 -->
  </mapper>