<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.tn.mapper.OrderMapper">
  
  	<!--  멤버테이블에 포인트 업데이트 -->
  	<update id="updatePoint">
	  	update Member
		set userPoint = userPoint + 100 <!-- 적립할 포인트... 수정 필요.... -->
<!--	(
		(select totalPay from 'Order'
		where orderWho=#{userId} and orderNo=#{orderNo})*0.02
		)-->
		where userId=#{userId}
  	</update>

	<insert id="insertPointLog">
		insert into PointLog(pWho, pWhen, pWhy, pScore) 
		values (#{orderWho}, #{orderDate}, #{orderPK}, 100)<!-- 마지막값 적립된 포인트로 수정 필요 -->
	</insert>
</mapper> 