<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.tn.mapper.OrderMapper">
  	
 
<!-- 박근영 -->
	<select id="selectUserAddress" resultType="com.tn.order.model.vo.AddressVO">
		SELECT receiver_name, address_key, receiver_phone, address, isDefault, request FROM Address WHERE userId = #{userId}
	</select>
	
	<select id="selectUserPoint" resultType="int">
		SELECT userPoint FROM Member WHERE userId = #{userId}
	</select>	
	
	<insert id="insertPaymentComplete" parameterType="com.tn.order.model.dto.PaymentInfoDTO" useGeneratedKeys="true" keyProperty="orderPK">
	    INSERT INTO `Order` (orderStatus, orderWho, orderAddress, usePoint, totalPay, orderNo, plannedPoint, orderName)
	    VALUES (
	        '결제완료', #{userId}, #{address}, 
	        <choose>
	            <when test="finalInputPoint != null">
	                #{finalInputPoint}
	            </when>
	            <otherwise>
	                0
	            </otherwise>
	        </choose>, #{totalAmount}, #{paymentId}, #{totalPoint}, #{orderName});
	</insert>
	
 	<select id="selectOrderBookNo" parameterType="com.tn.order.model.dto.PaymentInfoDTO" resultType="com.tn.order.model.vo.PaymentInfoVO">
		SELECT bookNo FROM Cart WHERE cartId IN <foreach item="Id" 
		collection="cartId" open="(" separator="," close=")" >#{Id}</foreach> AND userId = #{userId}
	</select>
	
	<insert id="insertOrderBooks" parameterType="java.util.List">
	    INSERT INTO OrderBook (orderNo, bookNo, qty) 
	    VALUES 
	    <foreach item="book" collection="list" separator=",">
	        (#{book.orderNo}, #{book.bookNo}, #{book.qty})
	    </foreach>
	</insert>

	<update id="insertUserPoint" parameterType="com.tn.order.model.dto.PaymentInfoDTO">
	 	UPDATE Member SET userPoint = #{remainingPoint} WHERE userId = #{userId}
	</update>
	
	<insert id="insertUsePointLog" parameterType="com.tn.order.model.dto.PaymentInfoDTO">
		INSERT INTO PointLog (pWho, pWhy, pScore) VALUES (#{userId}, #{orderPK}, #{finalInputPoint})
	</insert>
	
	<delete id="deleteReflectCart" parameterType="com.tn.order.model.dto.PaymentInfoDTO">
	    DELETE FROM Cart WHERE cartId IN 
	    <foreach collection="cartId" item="id" open="(" separator="," close=")">#{id}</foreach>
	</delete>

	<select id="selectUserTotalPay" parameterType="com.tn.order.model.dto.PaymentInfoDTO" resultType="com.tn.order.model.vo.PaymentInfoVO">
		SELECT userTotalPay FROM Member WHERE userId = #{userId}
	</select>
	
	<update id="updateUserTotalPay" parameterType="com.tn.order.model.dto.PaymentInfoDTO">
		UPDATE Member SET userTotalPay = #{userTotalPay} WHERE userId = #{userId}
	</update>
	
	<update id="updateOrdersToShipping">
	    UPDATE `Order` SET orderStatus = '배송중' WHERE orderDate &lt; DATE_SUB(NOW(), INTERVAL 1 DAY) AND orderStatus = '결제완료' AND orderNo IS NOT NULL
	</update>
	
	<update id="updateOrdersToDelivered">
	    UPDATE `Order` SET orderStatus = '배송완료' WHERE orderDate &lt; DATE_SUB(NOW(), INTERVAL 3 DAY) AND orderStatus = '배송중' AND orderNo IS NOT NULL
	</update>
	
	<update id="updateBookNo" >
	    <foreach collection="list" item="book" separator=";">
	        UPDATE BookList SET inven = inven - #{book.qty} WHERE bookNo = #{book.bookNo}
	    </foreach>
	</update>





<!-- 박근영 -->

<!-- 엄영준 -->
    <!-- 회원이 주문한 목록 최근꺼 3개를 가지고 오는 쿼리문 -->
	<select id="selectOrderList"
		resultType="com.tn.booklist.model.vo.BooklistVO">
		<!-- select b.* from
		(select o.orderPk , o.bookNo from mbcac2024.Order o inner Join Member m on
		o.orderWho = m.userId where o.orderWho = #{userId}) as userOrder
		inner join BookList b
		on userOrder.bookNo = b.bookNo order by userOrder.orderPk desc limit
		0,3; -->
		select b.* from
		(select o.orderPk , o.bookNo 
		from (select ob.bookNo , o.orderPK ,o.orderWho from mbcac2024.Order o inner join OrderBook ob on o.orderNo = ob.orderNo) o 
		inner Join Member m 
		on o.orderWho = m.userId where o.orderWho = #{userId}) as userOrder
		inner join BookList b
		on userOrder.bookNo = b.bookNo order by userOrder.orderPk desc limit
		0,3;
	</select>

<!-- ==================================================최미설========================================================================== -->
	<!-- 배송완료 주문건 가져오기 -->
	<select id="getSinOrder" resultType="com.tn.order.model.vo.OrderVO">
		select * from `Order` where orderWho=#{userId} and orderNo='92162920-2cd5-4ff9-ae87-7dd3ce4d2cms' and orderStatus="배송완료"
	</select>
	
	<!-- 포인트 업데이트 -->
	<update id="updatePoint">
	update Member
	set userPoint = userPoint + (select plannedPoint from `Order`
	where orderWho=#{userId} and orderNo=#{orderNo} and orderStatus="배송완료")
	where userId=#{userId}
	</update>
	
	<!-- 포인트로그 추가 -->
	<insert id="recordPointLog">
		insert into PointLog(pWho, pWhy, pScore) 
		values (#{userId}, #{pWhy}, #{pScore})
	</insert>

	<!-- 탈퇴한 회원의 주소와 아이디 업데이트 -->
	<update id="updateUnregisterInfo">
		UPDATE `Order`
		SET orderAddress = '탈퇴한 회원입니다...', orderWho='unregist'
		WHERE orderWho = #{deletedMember}
	</update>
	
	<!-- 탈퇴요청하는 회원의 주문을 확인하는 쿼리문 -->
	<select id="checkRemainOrder" resultType="com.tn.order.model.vo.OrderVO">
		select * from `Order` where orderStatus!='배송완료' and orderWho=#{deletedMember}
	</select>
<!-- ==================================================최미설========================================================================== -->
</mapper>